In [24]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [25]:
df=pd.read_csv("bbc-text.csv")
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
category    2225 non-null object
text        2225 non-null object
dtypes: object(2)
memory usage: 34.8+ KB

In [ ]:
df.describe()

       category                                               text
count      2225                                               2225
unique        5                                               2126
top       sport  howl helps boost japan s cinemas japan s box o...
freq        511                                                  2

In [ ]:
df.category=le.fit_transform(df.category)
df.head()

   category                                               text
0         4  tv future in the hands of viewers with home th...
1         0  worldcom boss  left books alone  former worldc...
2         3  tigers wary of farrell  gamble  leicester say ...
3         3  yeading face newcastle in fa cup premiership s...
4         1  ocean s twelve raids box office ocean s twelve...

In [ ]:
cv=CountVectorizer()

In [ ]:
x_train=df.text
y_train=df.category

In [ ]:
x_train=x_train.tolist()

In [ ]:
y_train=y_train.astype(int)
set(y_train)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2)

In [ ]:
x_train=cv.fit_transform(list(x_train))
x_train=x_train.toarray()

In [ ]:
x_train

In [ ]:
x_train[0]

In [ ]:
cv.inverse_transform(x_train[0])

In [ ]:
x_test=cv.transform(x_test)

In [ ]:
model=MultinomialNB()

In [ ]:
model.fit(x_train,y_train)

In [ ]:
ypred=model.predict(x_test)

In [ ]:
ypred

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
acc=accuracy_score(y_test,ypred)
acc