In [36]:

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [37]:
df=pd.read_csv("bbc-text.csv")
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [38]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
category    2225 non-null object
text        2225 non-null object
dtypes: object(2)
memory usage: 34.8+ KB

In [40]:
df.describe()

       category                                               text
count      2225                                               2225
unique        5                                               2126
top       sport  economy  strong  in election year uk businesse...
freq        511                                                  2

In [41]:

cv=CountVectorizer()

In [42]:
df.category=le.fit_transform(df.category)
df.head()

   category                                               text
0         4  tv future in the hands of viewers with home th...
1         0  worldcom boss  left books alone  former worldc...
2         3  tigers wary of farrell  gamble  leicester say ...
3         3  yeading face newcastle in fa cup premiership s...
4         1  ocean s twelve raids box office ocean s twelve...

In [43]:

x_train=df.text
y_train=df.category

In [44]:
x_train=x_train.tolist()

In [45]:
y_train=y_train.astype(int)
set(y_train)

{0, 1, 2, 3, 4}

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2)

In [48]:
x_train=cv.fit_transform(list(x_train))
x_train=x_train.toarray()

In [49]:
x_train

array([[0, 2, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
x_train[0]

array([0, 2, 0, ..., 0, 0, 0], dtype=int64)

In [52]:
cv.inverse_transform(x_train[0])

[array(['000', '100', '12', '13', '16', '173', '18', '2004', '246', '290m',
        '30', '400', '53', '546m', '570', '635', 'about', 'abuses',
        'abusing', 'accounting', 'accounts', 'almost', 'among', 'amounted',
        'and', 'another', 'attempts', 'auction', 'auctions', 'bank',
        'being', 'biggest', 'by', 'came', 'cards', 'cases', 'catalogue',
        'charges', 'claim', 'claims', 'coming', 'commission', 'commit',
        'common', 'complained', 'complaints', 'comprised', 'comprising',
        'computers', 'concerned', 'concerns', 'consumers', 'cost',
        'credit', 'crimes', 'criminals', 'defraud', 'deliver', 'else',
        'employers', 'existing', 'failure', 'false', 'federal', 'field',
        'fifth', 'figures', 'five', 'for', 'found', 'fraud', 'frauds',
        'from', 'goods', 'had', 'has', 'hits', 'home', 'id', 'identity',
        'in', 'including', 'information', 'internet', 'it', 'line',
        'loans', 'marks', 'million', 'misusing', 'most', 'near', 'new',
        'next', 'occurs', 'of', 'off', 'official', 'on', 'or', 'other',
        'outside', 'pcs', 'people', 'personal', 'quarter', 'related',
        'report', 'reported', 'reports', 'rip', 'row', 'said', 'second',
        'sellers', 'services', 'shopping', 'slice', 'someone', 'source',
        'spyware', 'standard', 'steal', 'sub', 'suggest', 'supply',
        'surge', 'table', 'targeted', 'the', 'theft', 'to', 'topped',
        'total', 'trade', 'two', 'undisclosed', 'us', 'use', 'was',
        'websites', 'were', 'when', 'which', 'while', 'with', 'woes',
        'year'], dtype='<U22')]

In [55]:
x_test=cv.transform(x_test)

In [56]:
model=MultinomialNB()

In [57]:
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [58]:
ypred=model.predict(x_test)

In [59]:
from sklearn.metrics import confusion_matrix, accuracy_score
acc=accuracy_score(y_test,ypred)
acc

0.9842696629213483