In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [12]:
df=pd.read_csv("bbc-text.csv")
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [13]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
category    2225 non-null object
text        2225 non-null object
dtypes: object(2)
memory usage: 34.8+ KB

In [15]:
df.describe()

       category                                               text
count      2225                                               2225
unique        5                                               2126
top       sport  apple unveils low-cost  mac mini  apple has un...
freq        511                                                  2

In [16]:
df.category=le.fit_transform(df.category)
df.head()

   category                                               text
0         4  tv future in the hands of viewers with home th...
1         0  worldcom boss  left books alone  former worldc...
2         3  tigers wary of farrell  gamble  leicester say ...
3         3  yeading face newcastle in fa cup premiership s...
4         1  ocean s twelve raids box office ocean s twelve...

In [17]:
cv=CountVectorizer()

In [20]:
x_train=df.text
y_train=df.category

In [21]:
x_train=x_train.tolist()

In [22]:
y_train=y_train.astype(int)
y_train.head()

0    4
1    0
2    3
3    3
4    1
Name: category, dtype: int32

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2)

In [24]:
x_train=cv.fit_transform(list(x_train))
x_train=x_train.toarray()

In [25]:
x_train

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 3, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [27]:
x_train[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [28]:
cv.inverse_transform(x_train[0])

[array(['100', 'about', 'admitted', 'after', 'again', 'agree', 'agreement',
        'all', 'an', 'and', 'angry', 'any', 'are', 'as', 'at', 'atp',
        'australian', 'available', 'ban', 'bars', 'be', 'been', 'before',
        'beneficial', 'body', 'british', 'but', 'can', 'chance', 'changes',
        'comes', 'company', 'component', 'conceded', 'contaminated',
        'contamination', 'criticised', 'david', 'deal', 'december', 'didn',
        'discuss', 'distribution', 'do', 'doping', 'drinks', 'drop',
        'education', 'escaped', 'event', 'far', 'federer', 'first', 'for',
        'free', 'get', 'glaxosmithkline', 'going', 'gone', 'good', 'got',
        'governing', 'greg', 'gsk', 'guarantee', 'had', 'happen', 'has',
        'have', 'haven', 'having', 'he', 'higdon', 'hope', 'hopefully',
        'hottest', 'how', 'imminent', 'in', 'is', 'it', 'just', 'last',
        'later', 'lot', 'loved', 'make', 'meeting', 'men', 'months',
        'more', 'never', 'new', 'not', 'now', 'number', 'nutritional',
        'of', 'on', 'open', 'order', 'out', 'over', 'part', 'period',
        'persuaded', 'pharmaceutical', 'players', 'positive', 'possible',
        'president', 'products', 'provide', 'qatar', 'reality', 'receive',
        'releasing', 'respond', 'response', 'result', 'rigorous', 'roger',
        'rusedski', 'said', 'saturday', 'season', 'so', 'some', 'soon',
        'spread', 'struck', 'stuff', 'supplements', 'sure', 'take',
        'takes', 'talk', 'tennis', 'test', 'testing', 'that', 'the',
        'them', 'there', 'these', 'they', 'thing', 'things', 'think',
        'this', 'though', 'through', 'time', 'to', 'tour', 'tribunal',
        'tried', 'two', 'understanding', 'use', 'vice', 'was', 'we',
        'wednesday', 'weeks', 'weren', 'when', 'who', 'wide', 'will',
        'with', 'without', 'won', 'work', 'would', 'year', 'yet', 'you'],
       dtype='<U22')]

In [29]:
x_test=cv.transform(x_test)

In [30]:
model=MultinomialNB()

In [31]:
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [32]:
ypred=model.predict(x_test)

In [33]:
ypred

array([1, 0, 1, 2, 4, 2, 1, 4, 0, 1, 0, 4, 3, 0, 1, 0, 1, 3, 4, 3, 3, 1,
       1, 1, 3, 4, 4, 0, 0, 2, 4, 4, 2, 4, 3, 1, 1, 4, 4, 0, 4, 3, 2, 0,
       0, 0, 0, 1, 3, 4, 2, 4, 3, 2, 1, 2, 0, 3, 1, 2, 3, 0, 1, 4, 0, 3,
       2, 3, 2, 0, 1, 3, 3, 3, 2, 1, 0, 2, 1, 0, 1, 2, 2, 1, 1, 4, 4, 0,
       4, 1, 2, 3, 4, 1, 3, 3, 0, 0, 4, 2, 0, 2, 0, 0, 4, 4, 2, 2, 4, 0,
       1, 3, 2, 0, 4, 0, 3, 1, 2, 3, 0, 2, 3, 1, 1, 2, 3, 3, 0, 2, 3, 1,
       3, 4, 3, 2, 2, 3, 0, 0, 1, 4, 0, 1, 4, 0, 3, 2, 3, 4, 1, 4, 3, 0,
       0, 3, 1, 4, 1, 3, 3, 1, 0, 3, 2, 0, 0, 0, 3, 3, 3, 4, 2, 2, 2, 1,
       3, 0, 0, 0, 3, 1, 1, 4, 4, 2, 1, 1, 1, 1, 4, 4, 4, 3, 3, 4, 0, 1,
       1, 0, 3, 0, 0, 3, 0, 2, 2, 2, 1, 4, 1, 2, 2, 4, 0, 2, 2, 4, 1, 0,
       2, 3, 2, 0, 4, 0, 3, 1, 0, 4, 2, 2, 3, 3, 0, 4, 3, 0, 2, 3, 4, 0,
       3, 3, 0, 1, 1, 3, 0, 0, 0, 3, 0, 0, 1, 0, 1, 4, 1, 2, 1, 0, 0, 0,
       3, 0, 4, 0, 0, 4, 2, 0, 3, 3, 3, 3, 1, 3, 3, 2, 1, 4, 2, 1, 2, 4,
       1, 3, 3, 2, 3, 2, 3, 2, 2, 0, 3, 2, 1, 2, 2, 2, 4, 2, 4, 0, 4, 3,
       1, 3, 3, 2, 3, 3, 0, 1, 0, 4, 4, 1, 4, 3, 4, 3, 0, 4, 2, 0, 1, 1,
       0, 1, 3, 1, 3, 1, 2, 3, 3, 1, 4, 2, 4, 4, 1, 1, 0, 2, 0, 2, 3, 0,
       3, 4, 3, 3, 0, 2, 4, 2, 0, 2, 2, 0, 0, 0, 0, 1, 3, 2, 0, 3, 4, 4,
       2, 0, 2, 3, 3, 3, 2, 0, 2, 4, 1, 0, 4, 0, 2, 3, 4, 0, 2, 4, 3, 3,
       3, 2, 1, 3, 4, 0, 1, 3, 0, 0, 0, 3, 3, 0, 0, 3, 1, 2, 1, 0, 2, 4,
       3, 1, 4, 0, 0, 0, 4, 4, 2, 1, 0, 1, 1, 3, 0, 2, 4, 2, 2, 4, 2, 4,
       4, 1, 4, 2, 2])

In [43]:
ypred2=ypred-y_test
count=0
for i in range(ypred.size):
    if ypred[i]==0:
        0
    else:
        count=count+1

In [45]:
accuracy=count/len(ypred)
accuracy

0.7685393258426966